<div class="card">
  <div class="card-body">

    <div class="row">
      <label for="annualSalary">Annual Salary</label>
      <input id="annualSalary" type="number" [(ngModel)]="summary.annualSalary" />
    </div>
    <br>
    <button id="addInvestment" class="btn btn-primary btn-sm" (click)="addInvestment()">Add investment</button>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-3" *ngFor="let investment of summary.investments">
        <app-investment-form [model]="investment" [annualSalary]="summary.annualSalary"></app-investment-form>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <p><strong>{{summary.desiredPercentage | percent}}</strong> of your annual salary is
        <strong>{{summary.desiredAmount | currency}}</strong></p>
    </div>
    <span class="row">
      <p><strong>{{summary.totalPercentageInvested | percent:'.2'}}</strong> of your annual salary is invested, which is
        <strong>{{summary.totalAmountInvested | currency}}</strong></p>
    </span>
  </div>
</div>